<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%=__("title")%></title>
</head>
<body>
	<a href="/"><%=__("index")%></a>
	<a href="/home"><%=__("home")%></a>
	<a href="/about"><%=__("about")%></a>
	<h1><%=__("home")%> , <%=title%>!</h1>
</body>
</html>