<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/list" method="get">
		篩選年齡大於	<input type="number" name="age" value="<%=query.age%>">
		<input type="submit" value="確定">
	</form>
	<table border="1">
		<tr>
			<!--<th>流水號</th>-->
			<th>姓名</th>
			<th>信箱</th>
			<th>年齡</th>
			<th>操作</th>
		</tr>
	<% for(var i=0;i<data.length;i++) { %>
		<tr>	
			<!--<td><%=data[i]._id%></td>-->
			<td><%=data[i].username%></td>
			<td><%=data[i].email%></td>
			<td><%=data[i].age%></td>
			<td><a href="../edit/<%=data[i]._id%>">編輯</a></td>
		</tr>
	<% } %>
	</table>
</body>
</html>